body {
  background: #eee;
  font-family: sans-serif;
  font-weight: bold;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 3px;
}

.title {
  background: lightblue;
  border: 10px;
  margin: 8px;
  padding: 10px;
  font-size: 20px;

}

.content {
  background: lightblue;
  margin: 8px;
  padding: 5px;
}

.button-container {
  background: lightblue;
  margin: 8px;
  text-align: center;
  padding: 5px;
}

button {
  background: white;
  padding: 7px;
  color: black;
  display: block;
  margin: auto;
}